# Игнорировать все файлы внутри data/, но не саму папку
data/*
!data/.gitkeep

# Игнорировать папки __pycache__
__pycache__/

# Дополнительно: игнорировать другие временные файлы Python
*.pyc
*.pyo
*.pyd